/*--------------------
   1. BASE CSS
----------------------*/

@import url("https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff|Lato:100,300,400,400i,700,900");
.alignleft {
  float: left;
  margin-right: 15px;
}
.menu{
  margin-top: 5%;
}
.alignright {
  float: right;
  margin-left: 15px;
}

.aligncenter {
  display: block;
  margin: 0 auto 15px;
}

a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #212324;
}

a:hover {
  color: #c1934c;
}

a:focus,
a:hover {
  outline: 0 solid;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 700;
}

html,
body {
  height: 100%;
}

body {
  color: #555555;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 1.7em;
}

a:hover {
  text-decoration: none;
}

/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.navbar-toggle {
  border: 2px solid #fff;
  border-radius: 0;
}

.navbar-toggle .icon-bar {
  background: #fff none repeat scroll 0 0;
}

.is-sticky .navbar-header .collapse,
.is-sticky .navbar-toggle {
  border: 2px solid #1a1a1a;
}

.is-sticky .navbar-toggle .icon-bar {
  background: #1a1a1a none repeat scroll 0 0;
}

.area-title {
  margin-bottom: 60px;
}

.area-title h2 {
  color: #d0963e;
  display: inline-block;
  font-family: "Herr Von Muellerhoff", cursive;
  font-size: 80px;
  margin: 0;
  padding: 0 10px;
  position: relative;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.area-title h3 {
  color: #212324;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section-padding {
  padding: 100px 0;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.margin-top {
  margin-top: 40px;
}

.margin-bottom {
  margin-bottom: 40px;
}

.gray-bg {
  background: #f3f4f4;
}

/*--------------------------
    2. TOP AREA
---------------------------*/

.top-area {
  height: 100%;
  position: relative;
  width: 100%;
}

.top-social-bookmark {
  float: right;
}

.book-table-popup {
  float: right;
  padding: 5px;
}

.top-social-bookmark ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.top-social-bookmark ul li {
  display: inline;
}

.top-social-bookmark ul li a {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 39px;
  margin: 0 -2.5px;
  padding: 6px;
  text-align: center;
  width: 40px;
}

.top-social-bookmark ul li a:hover {
  background: #fff;
  color: #d0963e;
}

.top-social-bookmark ul li:last-child a {
  margin-right: -5px;
}

.book-table-popup a {
  background: #d0963e none repeat scroll 0 0;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 14px 30px;
}

.book-table-popup a:hover {
  background: #fff none repeat scroll 0 0;
  color: #d0963e;
}

/*---------------------------------
    2.1 MAINMENU AREA
-----------------------------------*/

.mainmenu-area {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 9999;
}

.is-sticky .mainmenu-area {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  z-index: 99999;
}

.navbar-header {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-top: 8px;
}

.navbar-brand {
  display: none;
}

.navbar-brand.white {
  display: block;
}

.is-sticky .navbar-brand.white {
  display: none;
}

.is-sticky .navbar-brand {
  display: block;
}

.navbar {
  border-bottom: 0 none;
  border-top: 0 none;
  margin-bottom: 0;
}

ul#nav {
  float: right;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

ul#nav li a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 40px 20px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

ul#nav li.active a::before {
  background: #d0963e none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

ul#nav li:hover a,
ul#nav li.active a {
  color: #d0963e;
}

ul#nav li:hover ul {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

ul#nav ul {
  background: #1a1a1a none repeat scroll 0 0;
  left: 0;
  list-style: outside none none;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: left top 0;
  transform-origin: left top 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 180px;
}

ul#nav li ul li {
  display: block;
  border-bottom: 1px dashed #363636;
}

ul#nav li ul li:last-child {
  border-bottom: 0 none;
}

.is-sticky ul#nav li ul li:hover a,
ul#nav li ul li a,
ul#nav ul li a {
  color: #fff !important;
  display: block;
  padding: 7px 15px;
}

ul#nav ul li:hover a {
  background: #d0963e none repeat scroll 0 0;
  color: #fff;
}

.is-sticky ul#nav li ul li a {
  padding: 7px 15px;
}

.top-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.call-to-action {
  color: #fff;
  text-transform: capitalize;
}

.call-to-action a {
  color: #fff;
  letter-spacing: 1px;
}

.call-to-action p {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 15px;
  margin-top: 7px;
}

.call-to-action i {
  margin-right: 10px;
}

.is-sticky ul#nav li a {
  padding: 30px 20px;
  color: #1a1a1a;
}

.is-sticky ul#nav li.active a,
.is-sticky ul#nav li:hover a {
  color: #d0963e;
}

.is-sticky .signup-and-login-button ul li {
  padding: 14px 0;
}

.is-sticky .signup-and-login-button ul li a {
  background: #d64332 none repeat scroll 0 0;
  color: #fff;
}

.is-sticky .mainmenu-area {
  background: #ffffff none repeat scroll 0 0;
}

.is-sticky .navbar-header {
  margin-top: -3px;
}

/*-----------------------------------
    2.2 SLIDER AREA
-------------------------------------*/

.header-top-area {
  position: absolute;
  width: 100%;
  z-index: 999;
  text-transform: uppercase;
  text-align: center;
}

.slider-area {
  font-family: "Raleway", sans-serif;
  height: 100%;
  width: 100%;
  position: relative;
  font-weight: 900;
  color: #fff;
}

.slider-area h1 {
  font-size: 65px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.slider-area h1 span {
  font-weight: 700;
}

.slider-area h2 {
  font-family: "Herr Von Muellerhoff", cursive;
  font-size: 82px;
  letter-spacing: 2px;
}

.slider-area h3 {
  font-family: lato;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.slider-area h3 a {
  border: 1px solid;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  margin-top: 15px;
  padding: 10px 30px;
}

.slider-area h3 a:hover {
  color: #fff;
  background: #d0963e none repeat scroll 0 0;
  border-color: #d0963e;
}

.pogoSlider {
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  padding-bottom: 0;
}

.pogoSlider-slide {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  -webkit-perspective: 1300px;
  perspective: 1300px;
  position: absolute;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 5%;
}

.pogoSlider-slide:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #000;
  opacity: 0.4;
  z-index: -1;
}

/*----------------------------
    2.3 SEARCH FORM AREA
-----------------------------*/

.search-form-area {
  float: right;
  margin-right: -30px;
  padding: 35px 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.is-sticky .search-form-area {
  padding: 25px 15px;
}

a.search-form-trigger {
  color: #fff;
  font-size: 0 !important;
  position: relative;
  width: 30px;
}

.is-sticky a.search-form-trigger {
  color: #1a1a1a;
}

a.search-form-trigger::before {
  content: "\f002";
  font-family: fontawesome;
  font-size: 15px;
  height: 40px;
  margin-right: -15px;
  margin-top: -20px;
  padding-top: 5px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  width: 40px;
  z-index: 99;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.search-form-trigger.search-is-visible::before {
  color: #fff;
  content: "\f067";
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.search-form {
  position: absolute;
  height: 50px;
  width: 100%;
  top: 50px;
  left: 0;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.search-form.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.search-form form {
  height: 100%;
  width: 100%;
}

.search-form input {
  border-radius: 0;
  border: none;
  background: #272727;
  height: 100%;
  width: 100%;
  padding: 0 5%;
  box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.search-form input::-webkit-input-placeholder {
  color: #c9cbc4;
}

.search-form input::-moz-placeholder {
  color: #c9cbc4;
}

.search-form input:-moz-placeholder {
  color: #c9cbc4;
}

.search-form input:-ms-input-placeholder {
  color: #c9cbc4;
}

.search-form input:focus {
  outline: none;
}
@media (max-width: 1100px) {
  .finished_works__slider_wrap .grey_block {
    height: 500px;
  }
  .finished_works__slide img {
    min-height: 480px;
  }

  .finished_works {
    height: auto;
    margin-bottom: 40px;
  }
  .finished_works__slider {
    position: relative;
    top: 0;
  }
}
@media (max-width: 991px) {
  .finished_works {
    margin-top: 35px;
  }
 
  .finished_works__slide img {
    min-height: auto;
  }
  .finished_works__dots--inside .counting_cont .current_slide {
    font-size: 46px;
  }
  .finished_works__dots--inside {
    max-width: 190px;
    margin-right: 0;
  }
  .finished_works__dots--inside .arrow_cont {
    width: 55px;
    height: 24px;
  }
  .finished_works__slider_wrap .grey_block {
    height: 325px;
  }
}
@media (max-width: 768px) {
  .finished_works__slider_wrap .grey_block {
    display: none;
  }
  .finished_works__slider {
    width: 100% !important;
    left: 0 !important;
  }
  .finished_works__slider_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 1024px) {
  .search-form {
    height: 120px;
    top: 100%;
  }
  .search-form input {
    padding: 0 2em;
    font-size: 3.2rem;
    font-weight: 300;
  }
}

.search-form-overlay {
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s,
    -webkit-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s,
    -webkit-transform 0.3s 0s;
}

.search-form-overlay.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s,
    -webkit-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s,
    -webkit-transform 0.3s 0s;
}

.no-js .search-form {
  position: relative;
  top: 0;
  opacity: 1;
  visibility: visible;
}
.absolute {
  z-index: 0;
  width: 65%;
  left: 35%;
  position: relative;
}
.block {
  width: 35%;
  z-index: 1;
  position: absolute;
  background-color: #fff;
  padding: 1rem;
  left: 5%;
}
.section-ptb-120 {
  padding: 3rem 0;
}
.service-1 .content p::before {
  position: absolute;
  content: "";
  background: #249bda;
  width: 20px;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.service-1 .content p::after {
  position: absolute;
  content: "";
  background: #249bda;
  height: 1px;
  width: 30px;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}


.finished_works__slider {
  width: 100%;
  z-index: 2;
}
.finished_works__slide img {
  float: left;
  width: 100%;
}
.finished_works__dots {
  height: 150px;
  background-color: #f1223a;
  display: flex;
  z-index: 3;
  width: max-content;
  justify-content: unsafe;
  align-items: center;
  z-index: 3;
  position: absolute;
  bottom: 5%;
  left: -5%;
}
.center {
  object-fit: contain;
}
.position{
  position: relative;
}
.slick-slide{
  height: 600px;
  overflow: hidden;
}
.finished_works__dots--inside {
  float: right;
  width: 100%;
  max-width: 260px;
  margin-right: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.finished_works__dots--inside .arrow_cont {
  float: left;
  width: 74px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-outline-secondary:hover{
  background: none !important;
}
.btn-outline-secondary:hover {
  color: #6c757d !important; 
  
}

.page-link:hover{
  background-color: white !important;
}
.page-link{
  color: #333333;
}
#widgethelp_uniquecssid #widgethelp_icon{
  background-color: #ecb724!important;
}
.widgethelp_pulse {
  box-shadow: 0 0 0 #f1d179 !important;
}
.widgethelp_shadow{
  background-color: #ecb724 !important;
}
.finished_works__dots--inside .arrow_right__cont svg {
  transform: rotate(-180deg);
}
.finished_works__dots--inside .counting_cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.finished_works__dots--inside .counting_cont .current_slide {
  float: left;
  color: #ffffff;
  font-family: "Akrobat Semi Bold";
  font-size: 73px;
  font-weight: 600;
}
.finished_works__dots--inside .counting_cont .total_slides {
  float: right;
  color: #ffffff;
  font-family: "Akrobat Semi Bold";
  font-size: 22px;
  font-weight: 600;
  margin-left: 8px;
}
.size{
  font-size: 25px;
}
/* .font{
    font-family: 'Pattaya', sans-serif;

} */
.space-between {
  padding: 0 60px;
}
@media only screen and (max-width: 767px) {
  .space-between {
    padding: 0;
  }
}

.pricing-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-top: 30px;
}

.pricing-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.pricing-panel-4 {
  background: #ffffff;
  padding: 90px 0;
}
.pricing-panel-4.active {
  position: relative;
  background-color: #0056ff;
}
.pricing-panel-4.active::before {
 /* A */
  left: 30px;
  position: absolute;
  top: -15px;
}
.pricing-panel-4 .pricing-heading .price h4 {
  font-weight: 600;
  color: #4d4d4d;
  font-size: 48px;
  padding-left: 23px;
  position: relative;
  display: inline-block;
  margin: 0;
}
.pricing-panel-4 .pricing-heading .price h4 sub {
  position: absolute;
  left: 0;
  top: 25px;
  font-size: 31px;
}
.pricing-panel-4 .pricing-heading .title h2 {
  font-size: 18px;
  font-weight: 500;
  color: #000101;
  padding-bottom: 27px;
  position: relative;
  margin-bottom: 28px;
}
.pricing-panel-4 .pricing-heading .title h2::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background: #e1e1e1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.pricing-panel-4 .pricing-body {
  position: relative;
  padding-bottom: 23px;
  margin-top: 36px;
}
.pricing-panel-4 .pricing-body::before {
  position: absolute;
  content: "";
  background: #e1e1e1;
  width: 60px;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.pricing-panel-4 .pricing-body ul {
  padding: 0 15px;
}
.pricing-panel-4 .pricing-body ul li {
  display: inline-block;
  font-size: 15px;
  color: #000000;
  line-height: 35px;
  font-family: "Montserrat", sans-serif;
}
.pricing-panel-4 .pricing-footer {
  margin-top: 32px;
  height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.pricing-panel-4 .pricing-footer a.price_btn {
  height: 46px;
  border: 1px solid #ededed;
  display: inline-block;
  line-height: 44px;
  padding: 0 40px;
  color: #000000;
  font-size: 14px;
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  transition: 0.5s;
}
.pricing-panel-4 .pricing-footer a.price_btn:hover {
  background: #0056ff;
  color: #ffffff;
  border: 1px solid #0056ff;
}
.pricing-panel-4:hover .pricing-footer {
  height: 46px;
}

.pricing-panel-4.active .pricing-footer {
  height: 46px !important;
}

.pricing-panel-4.active .pricing-heading .title h2,
.pricing-panel-4.active .pricing-heading .price h4,
.pricing-panel-4.active .pricing-body ul li,
.pricing-panel-4.active .pricing-footer a.price_btn {
  color: #ffffff;
}

.pricing-panel-4.active .pricing-footer a.price_btn:hover {
  background: #fff;
  border: 1px solid #ffffff;
  color: #000000;
}
.bg {
  background-color: aliceblue;
}
.agency-benefits .content h2 span {
  color: #90101f;
}
.agency-benefits .content ul li {
  color: #333333;
  font-size: 14px;
  margin-top: 9px;
}
.agency-thumb .thumb .play-btn a {
  border: 0 none;
  background: #ffffff;
  width: 62px;
  height: 62px;
  border-radius: 100%;
  padding: 0;
  font-size: 28px;
  color: #702bc6;
  display: inline-block;
  line-height: 62px;
  text-align: center;
}

.background {
  background-color: #90101f;
  padding: 30px;
  margin-bottom: 1rem;
  border-radius: 2px;
}
.option {
  color: #ffffff;
  font-family: "Akrobat Semi Bold";
  font-size: 20px;
  font-weight: 600;
}
.icon {
  margin-bottom: 24px;
}
.text {

  color: #daa67e;
  font-family: "Akrobat Extra Bold";
  font-size: 30px;
  line-height: 1;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .col-md-6.background {
    max-width: 48%;
    margin-right: 10px;
  }
}
@media (min-width: 992px) {
  .col-lg-4.background {
    max-width: 31.333333%;
    margin-right: 15px;
  }
}
.pagination{
  justify-content: flex-end;
}
/*==================== 
	Footer 
====================== */

/* Main Footer */
footer .main-footer{	padding: 20px 0;	background: #252525;}
footer ul{	padding-left: 0;	list-style: none;}

/* Copy Right Footer */
.footer-copyright {	background: #222;	padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {	list-style: none;	margin: 0;	padding: 0;}
.footer-copyright nav ul li {	border-left: 1px solid #505050;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 8px;}
.footer-copyright nav ul li a{	color: #969696;}
.footer-copyright nav ul li:first-child {	border: medium none;	padding-left: 0;}
.footer-copyright p {	color: #969696;	margin: 2px 0 0;}

/* Footer Top */
.footer-top{	background: #252525;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{	background: transparent;}
footer.transparent .footer-copyright{	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{	background: #f9f9f9;}
footer.light .main-footer{	background: #f9f9f9;}
footer.light .footer-copyright{	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
	Widgets 
====================== */
.font{
  font-family: 'Poiret One', cursive;
}

.font_fam{
  font-family: 'Poiret One', cursive;
  font-weight: 500;
}
.widget{	padding: 20px;	margin-bottom: 40px;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 40px;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget li a{	color: rgb(220, 53, 69) ;}
.widget li a:hover{	color:  #90101f;}
.widget-title {margin-bottom: 20px; font-family: 'Poiret One', cursive;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 15px;position: relative;width: 20%;}
.widget-title span2 {background: #90101f none repeat scroll 0 0;display: block; height: 1px;margin-top: 15px;position: relative;width: 20%;}
.widget-title span2::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: right;	background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{	color: #fff;}

ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#90101f; border: 1px solid;
  border-radius: 5px;}
ul.social-footer2 li a {display: block;	height:30px;width: 30px;text-align: center;}

/* body{
    font-family: 'Cormorant Infant', serif;
    font-size: 20px;
} */
.btn-danger {
  color: #fff !important;
}
.color2{
  color: white;
}
html {
  scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */ 
}
.back{
  background-image: url(../img/gen_pod_jpg.png);
  min-height: 200px;
  background-position: center;
}
.center{
  display: flex;
  justify-content: center;
  vertical-align: middle;

}
.control {
  position: relative;
  padding: 30px;
  background-color: #0056ff;
  width: 20%;
}
.color{
  color: #382f30;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex{
  display: flex;
  justify-content: flex-end;
}
 svg {
  color: #b37a32;
}
.blog_img {
  height: 225px;
}
.blog_img_modal {
  max-height: 450px;
  display: flex;
  justify-content: center;
  float: left;
  margin-right: 15px;
}
.agency-thumb {
  margin-top: 25px;
}
@media only screen and (max-width: 997px) and (min-width: 768px) {
  .block {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .block {
    position: relative;
    width: 100%;
  }
  .absolute {
    left: 15px;
    width: auto;
  }
}
