﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.BlogItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Blog.cshtml";
    IPublishedContent page = Umbraco.TypedContent(CurrentPage.Id);
    var imageChl = page.GetPropertyValue<IPublishedContent>("image");
    var imgCld = imageChl.GetPropertyValue("umbracoFile");
}
<div>
    <h1 class="card-text d-flex justify-content-center size mt-3">@CurrentPage.GetPropertyValue("itemName")</h1>
    <br/>
    <a class="btn btn-danger mt-2" href="/"> Назад </a>
    <img src="@imgCld" class="blog_img_modal img-fluid rounded  mb-3" alt="варто зробити ремонт">

    <div class="text_blog mt-3">
        @CurrentPage.GetPropertyValue("page")
    </div>
</div>